{% extends "expense_tracker/base.html" %}
{% load crispy_forms_tags templatetags %}
{% block content %}
    <h1>History</h1>
    <div id="filter">
        <form method="GET" action="{% url 'transaction-history' %}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Filter</legend>
                {{ f_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mb-4" type="submit">Filter</button>
                <a href="#chart" class="btn btn-outline-info mb-4">Go to chart</a>
            </div>
        </form>
    </div>
    {% if transactions %}
        {% for transaction in transactions %}
            <p>
                {{ transaction.transaction_type }} {{ transaction.description }} {{ transaction.amount|floatformat:2 }}
                By {{ transaction.user }} on {{ transaction.date|date:"F d, Y" }}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'transaction-update' transaction.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'transaction-delete' transaction.id %}">Delete</a>
            </p>
        {% endfor %}
    {% else %}
        <p>There are no transactions</p>
    {% endif %}
    {% if is_paginated %}
        <div>
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?{% query_transform page=1 %}">First</a>
                <a class="btn btn-outline-info mb-4" href="?{% query_transform page=page_obj.previous_page_number %}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <a class="btn btn-info mb-4" href="?{% query_transform page=num %}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?{% query_transform page=num %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?{% query_transform page=page_obj.next_page_number %}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?{% query_transform page=page_obj.paginator.num_pages %}">Last</a>
            {% endif %}
        </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <canvas id="chart"></canvas>
    <script>
        let ctx = document.getElementById("chart").getContext("2d");

        let chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["Income", "Expense"],
                datasets: [
                    {
                        backgroundColor: ["#71eb34", "#ff3333"],
                        data: ["{{ income|floatformat:2 }}", "{{ expense|floatformat:2 }}"]
                    }
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                }
            } 
            });
    </script>
    <a href="#filter" class="btn btn-outline-info mb-4">Go to filter</a>
{% endblock content %}