{% extends "expense_tracker/base.html" %}
{% block content %}
    <h1>Dashboard</h1>
    <p>Overall balance: {{ balance|floatformat:2 }}</p>
    <p>Income total: {{ income|floatformat:2 }}</p>
    <p>Expense total: {{ expense|floatformat:2 }}</p>
    <h2>Latest transactions</h2>
    {% if transactions %}
        {% for transaction in transactions %}
            <p>
                {{ transaction.transaction_type }} {{ transaction.description }} {{ transaction.amount|floatformat:2 }}
                By {{ transaction.user }} on {{ transaction.date|date:"F d, Y" }}
            </p>
        {% endfor %}
    {% else %}
        <p>There are no transactions</p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <canvas id="chart"></canvas>
    <script>
        let ctx = document.getElementById("chart").getContext("2d");

        let chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["Income", "Expense"],
                datasets: [
                    {
                        backgroundColor: ["#71eb34", "#ff3333"],
                        data: ["{{ income|floatformat:2 }}", "{{ expense|floatformat:2 }}"]
                    }
                ]
            },
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                }
            } 
            });
    </script>
{% endblock content %}