{% extends "expense_tracker/base.html" %}
{% block content %}
    <h1>Dashboard</h1>
    <p>Overall balance: {{ balance|floatformat:2 }}</p>
    <p>Income total: {{ income|floatformat:2 }}</p>
    <p>Expense total: {{ expense|floatformat:2 }}</p>
    <h2>Latest transactions</h2>
    {% for transaction in latest %}
        <p>{{ transaction.transaction_type }} {{ transaction.description }} {{ transaction.amount|floatformat:2 }}</p>
        By {{ transaction.user }} on {{ transaction.date|date:"F d, Y" }}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'transaction-update' transaction.id %}">Edit</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'transaction-delete' transaction.id %}">Delete</a>
    {% endfor %}
{% endblock content %}