{% extends "expense_tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Transaction</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
                <a class="btn btn-outline-secondary" href="{% url 'tracker-home' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}